<div class="file-input-wrapper">

  <label
    class="file-label"
    [attr.for]="inputId"
    [attr.title]="label()"
    [attr.aria-label]="label()"
  >
    {{ label() }}
  </label>

  <div
    class="file-dropzone"
    [class.dragging]="isDragging()"
    role="button"
    tabindex="0"
    [attr.aria-label]="label() + ' file upload'"
    (click)="triggerFileInputClick()"
    (keyup.enter)="triggerFileInputClick()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >

    
    <ng-container *ngIf="!selectedFileNames().length; else selected">
      <mat-icon class="file-icon" aria-hidden="true">upload_file</mat-icon>

      <p class="upload-text">
        <span class="highlight">Click to upload</span> or drag and drop
      </p>

      <p class="hint-text">{{ acceptLabel() }}</p>

      <p class="max-size-text">Max size: 5 MB</p>
    </ng-container>


    <ng-template #selected>
      <div class="file-list">
        <p class="upload-text">Selected file(s):</p>
        <ul>
          <li *ngFor="let n of selectedFileNames()">{{ n }}</li>
        </ul>
      </div>

      
      <button
        mat-icon-button
        type="button"
        class="clear-btn"
        aria-label="Clear selected files"
        matTooltip="Clear selected files"
        (click)="clearFiles()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>

  
    <input
      #fileInput
      [id]="inputId"
      type="file"
      class="hidden"
      [attr.accept]="accept()"
      [attr.multiple]="multiple() ? '' : null"
      (change)="onFileSelected($event)"
      aria-hidden="false"
      [attr.title]="label()"
    />

  </div>


  <div class="error-msg" *ngIf="errorMessage()">
    {{ errorMessage() }}
  </div>

</div>
